.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.auth-box {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-width: 300px; /* optional */
}

.auth-box-main {
  border: 15px solid #ccc;
  padding: 15px;
  margin: 15px 0;
  border-radius: 100px;
  background-color: #f9f9f9;
  max-width: auto; /* optional */
}

.auth-box-main img.auth-img {
  max-width: 100%;   /* stay within the auth-box-main width */
  width: auto;       /* let the browser decide natural width up to 100% */
  height: auto;      /* keep aspect ratio */
  display: block;
  margin: 0 auto;    /* center inside the box */
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh; /* adjust as needed */
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-wrapper { 
 position: relative; 
 text-align: center; 
 height: 270px;
 margin: 40px 0; 
} 
 
.header-wrapper h1 { 
 margin: 0; 
} 
 
.corner-img { 
 position: absolute; 
 top: 0; 
 width: 200px;   /* adjust as needed */ 
 height: auto; 
} 
 
.left-img { 
 left: 0; 
} 
 
.right-img { 
 right: 0; 
} 

.responsive-img {
  max-width: auto;
  max-height: 100%;
  display: block;
  margin: 0 auto; /* optional: keeps it centered */
}
 

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
